{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>OTP</title>
{% endblock %}

{% block content %}
<h3 style="color:black; text-align:center">OTP VERIFICATION</h3>
<div class=" container jumbotron card bg-dark text-white text-center" style="padding-top:80px ; padding-left:325px ;" class="row justify-content-around mt-5">
   <div class="col-sm-7">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label >ENTER YOUR OTP TO VERIFY:</label>
        <input type="password" class="form-control" name="otp">
        <br></br>
        <input type="submit" value="Verify OTP" class="btn btn-primary">
    </form>
</div>
</div>
{% endblock %}